$Palette: (
  Base: (
    background: #F2F2F2,
    focus-border: #14142B,
  ),
  Text: (
    base:   #4C4C4C,
    light:  #A0A3BD,
    dark: #14142B,
    
    success: #00966D,
    success-dark: #00966D,
    failure:#ED2E7E,
    failure-dark: #C30052,
  ),
);